compiler/build/
compiler/generated/
compiler/src/generated/
ifcc
ifcc-test-output/
ifcc-optim-compare/
test
compiler/config.mk
test.*
compiler/.antlr
compiler/.clangd

# IDE
.vscode/
.github/

# Prerequisites
*.d

# Object files
*.o
