compiler/build/
compiler/generated/
compiler/src/generated/
ifcc
ifcc-test-output/
test
compiler/config/config.mk
test.*
compiler/.antlr
compiler/.clangd

# IDE
.vscode/

# Prerequisites
*.d

# Object files
*.o
